<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="mergedoc.encoding.toolbars.FileEncodingInfo">
            <control
                  class="mergedoc.encoding.EncodingControlContribution">
            </control>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="mergedoc.encoding.EncodingPreferenceInitializer" />
   </extension>
</plugin>
